[submodule "deps/hare"]
	path = deps/hare
	url = https://github.com/Arseny802/hare.git
[submodule "deps/cmrc"]
	path = deps/cmrc
	url = https://github.com/vector-of-bool/cmrc.git
[submodule "deps/cpr"]
	path = deps/cpr
	url = https://github.com/libcpr/cpr.git
[submodule "deps/tgbot-cpp"]
	path = deps/tgbot-cpp
	url = https://github.com/reo7sp/tgbot-cpp.git
